<div class="flex-column gap-18 x-center">
  <div class="default-size window-content window-padding flex-column gap-18"> 
    <h1 >Lista de usuários</h1>
  
    <table mat-table [dataSource]="data" >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear >
          Usuário
        </th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
      </ng-container>

      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear >
          Perfil
        </th>
        <td mat-cell *matCellDef="let row">{{userRolesDescription[row.profile]}}</td>
      </ng-container>
  
      <!--
      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear >
          Ativo?
        </th>
        <td mat-cell *matCellDef="let row">{{row.isActive == 'S' ? 'SIM' : 'NÃO'}}</td>
      </ng-container>
      -->
  
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear >
          Ações
        </th>
        <td mat-cell *matCellDef="let row">
          @if ((user$ | async) && ((user$ | async)!.profile == UserRoles.adm || (user$ | async)!.userId == row.userId)) {
            <button mat-icon-button (click)="showUser(row.userId)" >
              <mat-icon>edit</mat-icon>
            </button>
          }
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    @if (!isSearching && data.length === 0) {
      <br/>
      <div class="text-center">
        <p>Nenhum usuário foi encontrado</p>
      </div>
    }
  </div>  
  
  <button mat-flat-button color="primary" (click)="showUser('add')" >
    <mat-icon >add</mat-icon>
    Cadastrar novo usuário
  </button>
</div>