<div class="app-body flex-row x-center y-top">

  <form class="default-size flex-column gap-18" [formGroup]="surveyForm" (submit)="onSubmit($event)">
    <div class="app-content window-content" >
      <div class="flex-row x-space-between" >
        <button type="button" mat-button color="primary" >
          <mat-icon>arrow_back</mat-icon>
          Voltar
        </button>
      </div>

      <br/>

      <div class="grid-2-1 gap-10" >
        <mat-form-field appearance="outline" >
          <mat-label>Nome da consulta</mat-label>
          <input 
            type="text" 
            matInput 
            maxlength="255" 
            formControlName="name"
            autofocus />
    
          <mat-hint>e.g. Consulta Eleitoral</mat-hint>
          @if (name.hasError("required")) {
            <mat-error>Crie um nome para consulta</mat-error>
          }
      
          @if (name.hasError("maxLength")) {
            <mat-error>O nome deve ter no máximo 255 caracteres.</mat-error>
          }
        </mat-form-field>
    
        <mat-form-field appearance="outline" >
          <mat-label>Data de Expiração</mat-label>
          <input 
            matInput 
            [matDatepicker]="picker1" 
            formControlName="expirationDate" 
            autocomplete="off" 
            readonly />
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 disabled="false" ></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

      @if (questions.controls.length > 0) {
        @for(control of questions.controls; track control; let index = $index) {
          <div class="flex-column gap-10" [formGroup]="control" >
            <div class="text-right" >
              <button mat-stroked-button color="warn" (click)="removeQuestion(index)">
                <mat-icon>remove</mat-icon>
                Remover
              </button>
            </div>

            <mat-form-field appearance="outline" >
              <mat-label>Pergunta</mat-label>
              <textarea 
                type="text" 
                matInput 
                maxlength="255" 
                rows="3"
                formControlName="description"
                autofocus ></textarea>
        
              <mat-hint>e.g. Em qual candidato as eleições municipais você votaria?</mat-hint>
              @if (control.get("description")!.hasError("required")) {
                <mat-error>Crie a pergunta</mat-error>
              }
    
              @if (control.get("description")!.hasError("maxLength")) {
                <mat-error>A pergunta deve ter no máximo 255 caracteres</mat-error>
              }
            </mat-form-field>
    
            <mat-form-field appearance="outline" >
              <mat-label>Quantidade máxima de repostas permitidas</mat-label>
              <input 
                type="number" 
                matInput
                formControlName="selectionNumber"
                autofocus />
            </mat-form-field>
    
            <div>
              <p>Opções de respostas</p>
              <div class="response-group flex-column">
                @if (asFormArray(control.get('responses')).controls.length > 0) {
                  @for(response of asFormArray(control.get('responses')).controls; track response; let i = $index) {
                    <div class="response-item gap-10" >
                      <mat-form-field appearance="outline" >
                        <mat-label>Opção de resposta</mat-label>
                        <input 
                          type="text" 
                          matInput
                          maxlength="255"
                          [formControl]="asFormControl(response.get('description'))"
                          autofocus
                          required />
                        @if (response.get('description')!.hasError('required')) {
                          <mat-error>Informe a opção ou remova a mesma</mat-error>
                        }
                      </mat-form-field>

                      <button mat-stroked-button color="warn" (click)="removeOption(asFormArray(control.get('responses')), i)" >
                        <mat-icon>remove</mat-icon>
                        Remover
                      </button>
                    </div>
                    
                  }
                } @else {
                  <p class="text-center mat-small" >Nenhuma opção de resposta foi cadastrada</p>
                }

                <div class="text-center" >
                  <button mat-stroked-button color="primary" (click)="addResponse(asFormArray(control.get('responses')))">
                    <mat-icon>add</mat-icon>
                    Criar Opção
                  </button>
                </div>
              </div>
            </div>  
          </div>
          <mat-divider></mat-divider>
        }
      } @else {
        <p class="text-center mat-small" >Nenhuma pergunta foi cadastrada</p>
      }

      <div class="text-center">
        <button mat-stroked-button color="primary" (click)="addQuestion()">
          <mat-icon>add</mat-icon>
          Criar pergunta
        </button>
      </div>

    
  </form>
</div>