  @if (questionsForm.controls.length > 0) {
    @for(control of questionsForm.controls; track control; let index = $index) {
      <form class="window-content window-padding flex-column gap-10" [formGroup]="control" >
        <div class="text-right" >
          <button mat-stroked-button color="warn" (click)="removeQuestion(control.get('questionId')!.value, index)">
            <mat-icon>remove</mat-icon>
            Remover
          </button>
        </div>

        <mat-form-field appearance="outline" >
          <mat-label>Pergunta</mat-label>
          <textarea 
            type="text" 
            matInput 
            maxlength="255" 
            rows="3"
            placeholder="e.g. Em qual candidato as eleições municipais você votaria?"
            formControlName="description"
            autofocus ></textarea>
          @if (control.get("description")!.hasError("required")) {
            <mat-error>Crie a pergunta</mat-error>
          }

          @if (control.get("description")!.hasError("maxLength")) {
            <mat-error>A pergunta deve ter no máximo 255 caracteres</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Quantidade máxima de repostas permitidas</mat-label>
          <input 
            type="number" 
            matInput
            formControlName="selectionNumber"
            autofocus />
        </mat-form-field>


        @if (control.get('options')) {
        <div>
          <div class="response-group flex-column">
            @if (asFormArray(control.get('options'))!.controls.length > 0) {
              @for(response of asFormArray(control.get('options')).controls; track response; let i = $index) {
                <div class="response-item gap-10" >
                  <mat-form-field appearance="outline" >
                    <mat-label>Alternativa {{i + 1}}</mat-label>
                    <input 
                      type="text" 
                      matInput
                      maxlength="255"
                      [formControl]="asFormControl(response.get('description'))"
                      autofocus
                      required />
                    @if (response.get('description')!.hasError('required')) {
                      <mat-error>Informe a opção ou remova a mesma</mat-error>
                    }
                  </mat-form-field>

                  <button mat-stroked-button color="warn" (click)="removeOption(asFormControl(response.get('optionId')).value, index, i)" >
                    <mat-icon>remove</mat-icon>
                    Remover
                  </button>
                </div>
                
              }
            } @else {
              <p class="text-center mat-small" >Nenhuma alternativa foi cadastrada</p>
            }

            @if (isLoadingQuestionOption) {
              <div class="flex-row x-center">
                <mat-spinner diameter="30" ></mat-spinner>
              </div>
              <br/> 
            }

            <div class="text-center" >
              <button mat-stroked-button color="primary" (click)="addResponse(control)" [disabled]="isLoadingQuestionOption" >
                <mat-icon>add</mat-icon>
                Criar Alternativa
              </button>
            </div>
          </div>
        </div>
        }
      </form>
    }
  } @else {
    <p class="text-center mat-small" >Nenhuma pergunta foi cadastrada</p>
  }
  
  <div class="window-padding text-center">
    <button mat-flat-button color="primary" (click)="onClickAddQuestion()">
      <mat-icon>add</mat-icon>
      Adicionar uma pergunta
    </button>
  </div>
